/* GetStarted - A simple responsive Startpage
 * Author: MrAlpha786 (github.con/MrAlpha786) */

/* DIN Pro Round Regular */
@font-face {
	font-family: 'Quicksand';
	src: url('Quicksand-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* DIN Pro Round Bold */
@font-face {
	font-family: 'Quicksand';
	src: url('Quicksand-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	}

/* TODO: Create Custom Theme Template to be imported */
/* Colors and other var*/
html[data-theme="default"] {
	--bg: #26233a;
	--fg: #e0def4;
	--username: #c4a7e7;
	--flair: #ebbcba;
	--secondaryBg: #191724;
	--invert: 0;
	--border: #403d52;
	--scrollbar: #6e6a86;
	--red: #eb6f92;
	--green: #9ccfd8;
	--yellow: #f6c177;
	--blue: #31748f;

}

body {
	background-color: var(--bg);
	margin: 0;
}

h1 {
	margin-left: 36px;
	margin-right: 36px;
}

h3 {
	margin-left: 36px;
	margin-right: 36px;
}

* {
	box-sizing: border-box;
	color: var(--fg);
	text-decoration: none;
	border: 0;
	outline-style: none;
    -webkit-tap-highlight-color: transparent;
	font-family: 'Quicksand';
	font-weight: normal;
    -ms-overflow-style: none;
    scrollbar-width: thin;
    scrollbar-color: #00000000 #00000000;
}

::-webkit-scrollbar {
    width: 0.3em;
}

::-webkit-scrollbar-track {
    background: #00000000;
    margin-bottom: 0.75em;
}

::-webkit-scrollbar-thumb {
    background-color: #00000000;
    border-radius: 1em;
}

:hover,
.visible-scrollbar {
    scrollbar-color: var(--scrollbar) #00000000;
}

:hover::-webkit-scrollbar-thumb,
.visible-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
}

.flair2 {
	color: var(--flair);
}

.container {
	width: 100%;
	height: 100vh;
	margin: auto;
    padding-top: 7vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}

/* Greeting */
#username {
	display: flex;
	text-align: center;
	padding: 0.5em 0.5em;
	background-color: var(--secondaryBg);
	color: var(--username);
	border: 1px solid var(--border);
	margin-right: 0.15em;
	border-radius: 0.50em;
	font-family: 'Quicksand';
	font-weight: normal;
}

#weather {
	display: block;
	text-align: justify;
	padding: 0.5em 0.5em;
	background-color: var(--secondaryBg);
	color: var(--fg);
	border: 1px solid var(--border);
	margin-right: 0.15em;
	border-radius: 0.50em;
	font-family: 'Quicksand';
	font-weight: normal;
}

/* Searchbar */
#search {
	width: 90%;
	margin: 0.75em 2em 2em;
	background-color: var(--secondaryBg);
	display: flex;
	flex-direction: row;
	border: 1px solid var(--border);
	border-radius: 0.75em;
	align-items: center;
	justify-content: space-between;
}

#search-field {
	width: 100%;
	padding: 0.75em 0.5em 0.75em 1em;
	background-color: transparent;
	font-size: 1rem;
	text-align: left;
}

#search button {
	padding: 0.75em 0.5em;
	margin: 0 0.5em 0 0;
	background-color: transparent;
	cursor: pointer;

}

#search button img {
	width: 1.2em;
	height: 1.2em;
	filter: invert(0.7);
}

#search button:hover img {
	filter: invert(var(--invert));
}

button#clear-field {
	visibility: hidden;
}

button#clear-field img {
	width: 0.9em;
	height: 0.9em;
}

/* Link Table */
.table-container {
	width: 90%;
	margin: 0 5%;
	display: flex;
	flex-direction: column;
	align-items: space-between;
	justify-content: center;
}

.col-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;
}

/* Tabs */
#tab-container {
	background-color: var(--secondaryBg);
	border-radius: 0.75em 0.75em 0 0;
}

.tab {
	width: 25%;
	padding: 0.75em;
	display: flex;
	justify-content: center;
	border-bottom: none;
	border-left: none;
	border-right: none;
	border-top: 1px solid var(--border);
	align-items: center;
}

/* Tab Content */
#content-container {
    align-items: flex-start;
	background-color: var(--Bg);
	border-radius: 0 0 0.75em 0.75em;
}

.content {
	display: none;
    max-height: 35vh;
    padding-bottom: 0.75em;
	border-right: 1px solid var(--border);
	border-left: 1px solid var(--border);
	border-bottom: 1px solid var(--border);
	border-top: none;
	background-color: var(--secondaryBg);
	flex-direction: column;
	overflow: auto;
}

.content.active {
	width: 100%;
	display: flex;
}

.content > a {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5em;
	cursor: pointer;
}

/* Colors */
.tab[data-tab*="1"] {
	border-left: 1px solid var(--border);
}

.tab[data-tab*="4"] {
	border-right: 1px solid var(--border);
}

.tab.active[data-tab*="1"],
.content[data-tab*="1"] a:hover {
	background-color: var(--red);
	color: var(--secondaryBg);
}

.tab.active[data-tab*="2"],
.content[data-tab*="2"] a:hover {
	background-color: var(--green);
	color: var(--secondaryBg);
}

.tab.active[data-tab*="3"],
.content[data-tab*="3"] a:hover {
	background-color: var(--yellow);
	color: var(--secondaryBg);
}

.tab.active[data-tab*="4"],
.content[data-tab*="4"] a:hover {
	background-color: var(--blue);
	color: var(--secondaryBg);
}

/* Screens larger than a average phone */
@media screen and (min-width: 600px) {

	#tab-container {
		background-color: transparent;
	}

	.tab, .tab.active[data-tab^="tab"] {
		width: 24%;
		margin: 0 1%;
		padding:0.5em;
		font-size: 1.5em;
		background-color: var(--secondaryBg);
		border-radius: 0.75rem 0.75rem 0 0;
	}

	.tab[data-tab*="1"] {
		color: var(--red);
	}

	.tab[data-tab*="2"] {
		color: var(--green);
	}

	.tab[data-tab*="3"] {
		color: var(--yellow);
	}

	.tab[data-tab*="4"] {
		color: var(--blue);
	}

	.content, .content.active {
		margin: 0 1%;
		width: 24%;
		display: flex;
		border-radius: 0 0 0.75rem 0.75rem;
	}

	.content > a {
		padding: 0.25em;
	}
}

/* Screens larger than a average tab */
@media screen and (min-width: 600px) {

	html[data-theme="default"] {
		--bg: #282C34;
		--fg: #CCCCCC;
		--username: #C678DD;
		--flair: #D19A66;
		--secondaryBg: #1D2025;
		--invert: 1;
		--border: #ABB2BF;
		--scrollbar: #252931;
		--red: #BE5046;
		--green: #98C379;
		--yellow: #E5C07B;
		--blue: #61AFEF;
	}

	#search {
		width: 60%;
	}

	.table-container {
		width: 75%;
	}
	.flair2 {
		color: var(--flair);
	}

	.tab {
		border-bottom: none;
		border-left: 1px solid var(--border);
		border-right: 1px solid var(--border);
		border-top: 1px solid var(--border);
	}

	.tab.active[data-tab*="1"],
	.content[data-tab*="1"] a:hover {
		text-decoration: underline;
		text-decoration-color: var(--red);
		color: var(--fg);
		background-color: var(--secondaryBg);
}

	.tab.active[data-tab*="2"],
	.content[data-tab*="2"] a:hover {
		text-decoration: underline;
		text-decoration-color: var(--green);
		color: var(--fg);
		background-color: var(--secondaryBg);
}

	.tab.active[data-tab*="3"],
	.content[data-tab*="3"] a:hover {
		text-decoration: underline;
		text-decoration-color: var(--yellow);
		color: var(--fg);
		background-color: var(--secondaryBg);
}

	.tab.active[data-tab*="4"],
	.content[data-tab*="4"] a:hover {
		text-decoration: underline;
		text-decoration-color: var(--blue);
		color: var(--fg);
		background-color: var(--secondaryBg);
	}

	#me {
		color: var(--red);
	}

	#social {
		color: var(--green);
	}

	#shop {
		color: var(--yellow);
	}

	#other {
		color: var(--blue);
	}

}

/* DeskTop Screen */
@media screen and (min-width: 992px) {

	/* DIN Pro Round Regular */
	@font-face {
		font-family: "FF DIN Round Pro";
		src: url("FF DIN Round Pro - Regular.woff") format("woff");
		font-weight: normal;
		font-style: normal;
		}
		
	/* DIN Pro Round Bold */
	@font-face {
		font-family: "FF DIN Round Pro";
		src: url("FF DIN Round Pro - Bold.woff") format("woff");
		font-weight: bold;
		font-style: normal;
		}

	html[data-theme="default"] {
		--bg: #1e1e2e;
		--fg: #a9b1d6;
		--username: #cba6f7;
		--flair: #fab387;
		--secondaryBg: #11111b;
		--invert: 1;
		--border: #45475a;
		--scrollbar: #9399b2;
		--red: #f38ba8;
		--green: #a6e3a1;
		--yellow: #f9e2af;
		--blue: #74c7ec;
	}

	* {
		font-family: 'FF DIN Round Pro';
		font-weight: normal;
	}

	.container {
		padding-top: 15vh;
	}

	#username {
		font-family: 'FF DIN Round Pro';
		font-weight: normal; 
	}

	#weather {
		font-family: 'FF DIN Round Pro';
		font-weight: normal;
	}

	#search {
		width: 40%;
	}

	.table-container {
		width: 60%;
	}

	.flair2 {
		color: var(--flair);
	}

	.tab {
		border-bottom: none;
		border-left: 1px solid var(--border);
		border-right: 1px solid var(--border);
		border-top: 1px solid var(--border);
	}

	.tab.active[data-tab*="1"],
	.content[data-tab*="1"] a:hover {
		text-decoration: underline;
		text-decoration-color: var(--red);
		color: var(--fg);
		background-color: var(--secondaryBg);
}

	.tab.active[data-tab*="2"],
	.content[data-tab*="2"] a:hover {
		text-decoration: underline;
		text-decoration-color: var(--green);
		color: var(--fg);
		background-color: var(--secondaryBg);
}

	.tab.active[data-tab*="3"],
	.content[data-tab*="3"] a:hover {
		text-decoration: underline;
		text-decoration-color: var(--yellow);
		color: var(--fg);
		background-color: var(--secondaryBg);
}

	.tab.active[data-tab*="4"],
	.content[data-tab*="4"] a:hover {
		text-decoration: underline;
		text-decoration-color: var(--blue);
		color: var(--fg);
		background-color: var(--secondaryBg);
	}

	#me {
		color: var(--red);
	}

	#social {
		color: var(--green);
	}

	#shop {
		color: var(--yellow);
	}

	#other {
		color: var(--blue);
	}
}